{% extends "base.html" %}
{% load static i18n %}

{% block content %}


<div class="col-md-12">
    <div class="h-100 p-5 bg-white border rounded-3 text-center">
        <h2>{% trans 'Alert' %}</h2>
        <form method='POST'>
            {% csrf_token %}
            <h4 class="my-4">
                {% trans 'Are you sure to delete' %} <strong >{{ project.title }}</strong> ?
            </h4>
            <input class="btn btn-danger" type="submit" value="{% trans 'Delete' %}" />
        </form>
    </div>
</div>


{% endblock content  %}
